.list-unstyled {
	padding-left: 0;
	list-style: none;
}

.list-inline li {
	display: inline-block;
	padding-right: 5px;
	padding-left: 0px;
    margin-top: 10px;
}

.social-icons .icon  {
	font-size: 1.4em;
}

.social-icons .icon {
	width: 40px;
	height: 40px;
	line-height: 38px;
	text-align: center;
	color: #FFF;
    background-color: var(--main-color);
    border-bottom: 3px solid var(--main-color-shade);
    box-sizing: border-box;
    transition-duration: 0.25s;
}

.social-icons.icon-flat .icon {
	border-radius: 5px;
}

.social-icons.icon-flat .icon:hover {
    background-color: var(--main-color-shade);
    -webkit-box-shadow: 0px 4px 22px -1px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 4px 22px -1px rgba(0,0,0,0.1);
    box-shadow: 0px 4px 22px -1px rgba(0,0,0,0.1);
}