@import url('https://fonts.googleapis.com/css?family=Cairo|Viga');

/* Body a ostatnĂ­ */

:root {
  --main-color: #ff2929;
  --main-color-shade: #cc2525;
}

* {
  font-family: Cairo;
}

body {
  padding: 0px;
  margin: 0px;
}

.tooltip {
  margin-bottom: 5px !important;
}

/* Navigation bar */

@media (max-width: 1350px) {
  ul#navigation .center {
    display: none;
  }
}

@media (max-width: 850px) {
  ul#navigation {
    padding-right: 0 !important;
  }
  ul#navigation .right {
    display: none;
  }
  ul#navigation .title {
    display: none;
  }
  ul#navigation .menu {
    padding-left: 0 !important;
    text-align: center;
  }
}

@media (max-width: 550px) {
  ul#navigation li {
    display: block !important;
    padding: 10px;
  }
  ul#navigation li a {
    color: #191919 !important;
  }
  ul#navigation li+li:before {
    display: none !important;
  }
  ul#navigation li.right {
    display: none !important;
  }
  ul#navigation {
    background-color: #fff !important;
    padding-right: 0px !important;
    height: 0px !important;
  }

  ul#navigation.hidden {
    height: 0px;
    padding: 0px !important;
  }

  ul#navigation.hidden li {
    display: none !important;
  }

  ul#navigation.shown {
    height: auto !important;
    padding: 20px 0px !important;
  }

  ul#navigation.shown li {
    display: block !important;
  }

  ul#navigation.shown li.right {
    display: none !important;
  }

  i.menu {
    display: block !important;
  }
}

ul#navigation {
  position: fixed;
  z-index: 10;
  list-style-type: none;
  color: #fff;
  margin: 0; padding: 20px 0px;
  padding-right: 25px;
  width: 100%;
  transition-duration: 250ms;
}

ul#navigation .title {
  position: absolute;
  left: 0; top: 0;
  font-size: 40px;
  padding: 3px 10px;
  font-family: Viga;
}

ul#navigation .title .beta-tag {
  font-size: 12px;
  font-family: Cairo;
  padding: 0 5px;
  bottom: 10px;
  position: relative;
  border-radius: 10px;
  background-color: var(--main-color);
  margin-left: 2px;
}

ul#navigation .menu {
  padding-left: 200px;
}

ul#navigation li {
  display: inline;
  font-size: 18px;
}

ul#navigation li a {
  text-decoration: none;
  color: #fff;
  transition-duration: 0.25s;
}

ul#navigation li a:hover {
  color: #C6C6C6;
}

ul#navigation li.right {
  float: right;
  padding-right: 5px;
}

ul#navigation li+li:before {
  color: var(--main-color);
  font-weight: bold;
  content: "/\00a0";
  padding: 4px;
}

ul#navigation li.right+li.right:before {
  display: none;
}

ul#navigation ul.center li+li:before {
  display: none;
}

ul#navigation ul.center {
  width: 240px;
  position: absolute;
  margin: auto;
  left: 0; right: 0; top: 0; bottom: 0;
  padding: 13px 0px;
  transition-duration: 250ms;
}

i.menu {
  color: #fff;
  font-size: 32px;
  background-color: var(--main-color);
  width: 50px; height: 50px;
  border-bottom: 3px solid var(--main-color-shade);;
  border-radius: 3px;
  position: fixed;
  right: 10px;
  top: 10px;
  z-index: 11;
  line-height: 50px;
  text-align: center;
  cursor: pointer;
  display: none;
}

/* Header */

@media (max-width: 600px) {
  div#uvod .text {
    display: none;
  }

  div#uvod .content {
    width: 250px !important;
  }
}

div#uvod {
  width: 100%;
  height: 100vh;
  position: relative;
  top: 0px; left: 0px;
  background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url('../../assets/images/header-bgs/developer.jpg') no-repeat center center;
  background-size: cover;
}

div#uvod .content {
  width: 650px;
  height: 250px;
  position: absolute;
  left: 0; right: 0; top: 0; bottom: 0;
  margin: auto;
}

div#uvod .logo {
  float: left;
  width: 250px;
}

div#uvod .text {
  margin: auto;
  height: 110px;
  position: absolute;
  left: 200px; right: 0; top: 0; bottom: 0;
}

div#uvod p {
  line-height: 80%;
  color: #fff;
}

div#uvod .title {
  font-size: 60px;
  font-weight: bold;
}

div#uvod .subtitle {
  font-size: 42px;
}

div#uvod .animated {
  color: var(--main-color);
}

.typed-cursor {
  color: var(--main-color);
  animation: cursor 1s infinite;
}

@keyframes cursor {
	0% {
    opacity: 0;
  }
	50% {
    opacity: 1;
  }
	100% {
    opacity: 0;
  }
}

div#uvod .scroll {
  bottom: 0;
  position: absolute;
  width: 100%;
  height: 100px;
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.9) 100%);
}

div#uvod .scroll p.arrow {
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0; right: 0;
  margin: 0 auto;
  width: 100px;
  height: 30px;
  margin-bottom: 10px;
  font-size: 24px;
  animation: bounce 2s infinite;
  transition-duration: 0.25s;
  opacity: 0.5;
  color: #fe3d3e;
  cursor: pointer;
}

div#uvod .scroll p.arrow:hover {
	opacity: 1;
}

@keyframes bounce {
	0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
	40% {
    transform: translateY(-5px);
  }
	60% {
    transform: translateY(-5px);
  }
}

div#uvod .scroll p.description {
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-bottom: 55px;
}

/* Section */

div.section {
  position: relative;
  padding: 100px 10%;
  min-width: 90%;
  width: 100%;
}

div.section h1 {
  font-size: 38px;
  text-align: center;
  padding-bottom: 0px;
}

div.section h3 {
  font-size: 21px;
  padding-bottom: 50px;
  text-align: center;
  font-weight: lighter;
}

/* Kdo jsem */

@media (max-width: 850px) {
  #kdo-jsem .row .col-6 {
    flex: 0 0 100% !important;
    max-width: 100% !important;
  }
  #kdo-jsem .row div .timeline {
    margin-top: 50px;
  }
}

div#kdo-jsem {
  background: /*url('../../assets/images/bg-square.png') repeat*/ #191919;
  color: #fff;
}

div#kdo-jsem .row div p.paragraph-title {
  font-size: 21px;
  margin-bottom: 10px;
}

div#kdo-jsem .row div p.paragraph-title:before {
  color: var(--main-color);
  font-weight: bold;
  content: "/\00a0";
  padding-right: 10px;
}

div#kdo-jsem .row div .info {
  list-style-type: none;
  padding: 0;
}

div#kdo-jsem .row div .info li:before {
  color: var(--main-color);
  font-weight: bold;
  content: "/\00a0";
  padding-right: 10px;
}

div.timeline {
  width: 100%;
  border: 0px;
  border-left: 3px solid var(--main-color);
}

div.timeline .item {
  background-color: #fff;
  border-bottom: 5px solid #DDDDDD;
  border-radius: 5px;
  margin-left: 20px;
  margin-bottom: 20px;
  width: calc(100% - 20px);
  padding: 20px;
}

div.timeline .item p {
  line-height: 100%;
  color: #191919;
}

div.timeline .item .title {
  font-size: 18px;
  border-bottom: 2px var(--main-color);
  margin: 0;
  font-weight: 500;
}

div.timeline .item .date {
  font-size: 11px;
  color: #4F4F4F;
  margin: 0;
  margin-top: 5px;
}

div.timeline .item .date span {
  color: var(--main-color);
  font-weight: bold;
}

div.timeline .item .description {
  color: #191919;
  margin: 0;
  margin-top: 5px;
  font-size: 14px;
}

div.timeline .item:before {
  content: '';
  display: inline-block;
  position: absolute;
  background-color: #191919;
  border-radius: 10px;
  width: 20px;
  height: 20px;
  left: 6px;
  border: 2px solid var(--main-color);
  z-index: 2;
}

/* Projekty */

div#projekty {
  background-color: #fff;
  color: #191919;
}

div#projekty div .col-6 .avatar {
  border-radius: 50%;
  width: 150px;
  border: 0px;
  transform: translateX(-50%);
  position: relative;
  left: 50%;
}

div#projekty div .col-6 .title {
  font-size: 21px;
  text-align: center;
  font-weight: bolder;
  margin-bottom: 10px;
  margin-top: 20px;
}

div#projekty div .col-6 .description {
  text-align: center;
  width: 100%;
  padding: 0 10%;
}

div#projekty div .col-6 .center {
  width: 143px;
  position: absolute;
  margin: auto;
  left: 0; right: 0;
}

div#projekty div .col-6 {
  padding-bottom: 50px;
}

@media (max-width: 850px) {
  #projekty .row .col-6 {
    flex: 0 0 100% !important;
    max-width: 100% !important;
    padding-bottom: 150px;
  }
}

/* Kontakt */
div#kontakt {
  background-color: var(--main-color);
  color: #fff;
}

div#kontakt .social-icons {
  width: 682px;
  margin: auto;
  max-width: 100%;
  text-align: center;
}

div#kontakt .social-icons li .fab {
  background-color: #191919;
  width: 60px;
  height: 60px;
  line-height: 58px;
  border-bottom: 3px solid #101010;
  font-size: 28px;
}

/* Footer */

@media (max-width: 940px) {
  div#footer .content .left {
    display: none;
  }
  div#footer .content .right {
    float: none !important;
  }
  div#footer .content .right ul {
    text-align: center !important;
    width: 33.3%;
    padding-left: 0px !important;
  }
}

@media (max-width: 615px) {
  div#footer .content .right ul {
    width: 100%;
  }
  div#footer .content {
    height: 560px !important;
  }
}

div#footer {
  width: 100%;
  position: relative;
  top: 0px; left: 0px;
  background: #191919;
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
}

div#footer:before {
  content:'';
  display:block;
}

/*div#footer:before{
  border-left: 99vw solid var(--main-color);
  border-bottom: 100px solid transparent;
  border-right:0;
  border-top:0;
}*/

div#footer .content {
  padding: 50px 15%;
  height: 250px;
}

div#footer .content .right {
  float: right;
}

div#footer .content .left {
  float: left;
}

div#footer .content .center { 
    margin-left: auto; 
    margin-right: auto;
    width: 8em
}

div#footer .content .logo {
  width: 100px;
}

div#footer .content .left ul {
  list-style-type: none;
  text-align: right;
  float: left;
  padding-left: 50px;
}

div#footer .content .left li b {
  text-transform: uppercase;
  margin-bottom: 10px;
  display: block;
}

div#footer .content .left li a {
  color: #ddd;
}

/* Copyright */

/*@media (max-width: 630px) {
  div#footer .copyright ul li+li:before {
    display: none;
  }
  div#footer .copyright ul li {
    display: block !important;
  }
}*/

div#footer .copyright {
  background: #101010;
  padding: 5px 10px;
  text-align: center;
  width: 100%;
  bottom: 0px;
}

div#footer .copyright ul {
  list-style-type: none;
  margin: 5px 0px;
  padding: 0;
}

div#footer .copyright ul li {
  display: inline;
}

div#footer .copyright ul li.right {
  float: right;
  padding-right: 5px;
}

div#footer .copyright ul li+li:before {
  color: var(--main-color);
  font-weight: bold;
  content: "/\00a0";
  padding: 3px;
}

div#footer .copyright ul li a {
  color: #ddd;
}
